<section class="section-wrapper d-flex justify-content-center align-items-center mt-5" style="min-height: 80vh;">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4">Admin Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" formControlName="username" class="form-control" placeholder="Enter username" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control"
          placeholder="Enter password" />
      </div>

      <button class="btn btn-primary w-100" type="submit" [disabled]="loading">Login</button>
      <!-- ✅ Messages -->
      <p class="text-success mt-2 text-center" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="text-danger mt-2 text-center" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
</section>